@import "tailwindcss";

:root {
  --background: #030F00;
  --foreground: #FFFFFF;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #030F00;
    --foreground: #FFFFFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
