@import "tailwindcss";

:root {
  --background: #030F00;
  --foreground: #FFFFFF;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #030F00;
    --foreground: #FFFFFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Remove arrows from number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(30 37 33 / 0.93);
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(30 37 33 / 0.93);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(30 37 33 / 0.93) transparent;
}




.custom-range {
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  border-radius: 6px;
  background: rgba(30, 37, 33, 0.93); /* light track */
  outline: 2px thin #16a34a;
}

/* Chrome / Safari / Edge */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 14px;
  height: 14px;
  border-radius: 9999px;

  background: rgba(30, 37, 33, 0.93); /* dark center */
  border: 2px solid #16a34a; /* green-600 */

  cursor: pointer;
}

/* Firefox */
.custom-range::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 9999px;

  background: rgba(30, 37, 33, 0.93);
  border: 2px solid #16a34a;

  cursor: pointer;
}



/*react day picker in calendar*/
.selected_day {
  color: #16a34a;
}


